<title>Mes réalisations</title>
<%= stylesheet_link_tag 'mes_rea.css'%>

<div class="container">
	<header>
		<div id="header">
			<div id="logo_header">Lloyd WESTBURY</div>
			<div id="ham-container">
				<div id="ham_menu">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div></div>
				</div>
			</div>
			<div id="ham_list">
				<ul>
					<li class='list'><a href='<%= a_propos_path %>'>À propos</a></li>
					<li class='list'><a href='#'>Mon CV</a></li>
					<li class='list'><a href='<%= mes_realisations_path %>' class='active'>Mes réalisations</a></li>
					<li class='list'><a href='<%= contact_path %>'>Contact</a></li>
				</ul>
			</div>
		</header>
		<section>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
			<article class="container-site">
				<div class="card-header">
					<h3>Titre du projet</h3>
					<p>Courte description</p>
				</div>
				<div class="card-img">
					<img src="https://via.placeholder.com/350x218">
					<a href="#"><div class="img-overlay"><%= image_tag 'round_play-button_black.png' %></div></a>
				</div>
				<div class="card-text">
					Une description à la con parce qu'il en faut bien une et tout et tout...
				</div>
				<div class="card-footer">
					Ruby on Rails / PostgreSQL
				</div>
			</article>
		</section>

		<footer>
			<div class="copy-right">&copy; <span id='cpr'>Copyright</span> 2019 Lloyd Westbury</div>
		</footer>
	</div>

